{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="hero">

    <div class="hero-container">
        <h2>Welcome to PICTURE<span>HUB</span></h2>
            <div class="showcase">
                <div id="homeof">
                    The home of all <br>things pictures
                </div>
                <div id="using">
                    Made using Apis and rssfeeds from popular sites like flickr,pinterest, reddit and other sources
                </div>
                <div id="designedby">
                    DESIGNED AND IMPLEMENTED BY <span> JAY </span>
                </div>
            </div>
    </div>

</section>
{% endblock %}